@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');


@keyframes kmp{
  from{
    margin-top: 200px;
  }
  to{
    margin-top: 30px;
  }
}

.kamp {
  background-image: url("../../../../assets/images/porsche-normal.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .wel {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 100px 0;
    .container {
      // bu title qismi
      .titl {
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;
        h2 {
          color: #fff;
          text-align: center;
          font-family: 'ABeeZee',sans-serif;
          font-size: 36px;
          font-style: italic;
          font-weight: 400;
          line-height: normal;
          text-transform: uppercase;
          padding-bottom: 15px;
          border-bottom: 4px solid #C53720;
          width: 300px;
        }
      }
      //   title qismini tugashi

      // ichki clsaini boshlanishi
      .ichki {
        padding: 10rem auto;
        display: flex;
        align-items: start;
        justify-content: center;
        margin-top: 30px;
        animation: kmp 1.5s forwards;
        //   text qismi
        .parag {
          padding: 40px;
          width: auto;
          height: auto;
          flex-shrink: 0;
          .rec {
            position: relative;
            width: 900px;
          }
          div {
            position: absolute;
            margin-top: -300px;
            width: 850px;
            padding: 15px 0 40px 40px;
            p {
              color: #fff;
              font-size: 16px;
              font-style: normal;
              font-family: 'Abhaya Libre ExtraBold', sans-serif;
              font-weight: 530;
              line-height: normal;
              margin: 10px 15px;
            }
          }
        }
        //   text qismini tugashi

        //   bu xabarlar qismi
        .msg {
          padding-top: 45px;
          margin-left: 30px;
          div {
            .msgimg {
              width: 84px;
              height: auto;
              flex-shrink: 0;
              object-fit: cover;
            }
            p {
              color: #fff;
              text-align: center;
              font-size: 16px;
              font-style: normal;
              font-family: 'Abhaya Libre ExtraBold', sans-serif;
              font-weight: 530;
              line-height: normal;
              text-decoration-line: underline;
              margin: 10px 0 45px;
            }
          }
          div:nth-child(2) {
            p {
              color: #c53720;
            }
          }
        }
        //   xabarlar qismi tugashi
      }
      // bu ichki clasini tugashi
    }
  }
}

@media (min-width: 850px) and (max-width: 1080px) {
  .kamp {
    .wel {
      .container {
        .ichki {
          justify-content: space-around;
          .parag {
            .rec {
              width: 790px;
            }
            div {
              width: 750px;
              margin-top: -290px;
              padding: 10px 0 0 30px;
              p {
                margin: 10px;
              }
            }
          }
          .msg {
            margin: -10px 38px 20px -30px;
            padding-top: 50px;
            div {
              .msgimg {
                width: 40px;
              }
              p {
                font-size: 12px;
                margin-left: -10px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 527px) and (max-width: 850px) {
  .kamp {
    .wel {
      .container {
        .ichki {
          justify-content: space-around;
          .parag {
            margin-left: 20px;
            .rec {
              width: 440px;
              height: 400px;
              object-fit: fill;
            }
            div {
              width: 425px;
              margin-top: -388px;
              p {
                margin: 0;
              }
            }
          }
          .msg {
            margin-left: -10px;
            margin-right: 64px;
            div {
              .msgimg {
                width: 50px;
              }
              p {
                font-size: 12px;
                margin-left: -10px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 527px) {
  .kamp {
    .wel {
      padding: 50px 0;
      .container {
        width: 100%;
        .ichki {
          display: block;
          margin: 20px 0;
          padding: 0;
          .parag {
            width: 318px;
            margin: 10px auto;
            padding: 0;
            .rec {
              width: 315px;
              height: 505px;
              object-fit: fill;
              margin: 0;
              padding: 0;
            }
            div {
              width: 308.5px;
              margin-top: -510px;
              padding: 20px 0 0 20px;
              p {
                margin:0;
              }
            }
          }
          .msg {
            display: flex;
            align-items: center;
            justify-content: center;
            div {
              margin: 30px;
              .msgimg {
                width: 50px;
              }
              p {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
}


@media(max-width:320px){
  .kamp{
    .wel{
      .container{
        .ichki{
          .parag{
            width: 100%;
            .rec{
              display: none;
            }
            div{
              display: block;
              position:initial;
              background: rgba(0, 0, 0, 0.3);
              width: 100%;
              padding: 40px 10px;
              margin-top: 100px;
            }
          }
        }
      }
    }
  }
}