.haedpart{
    width: auto;
    height: 172px;
    flex-shrink: 0;
}

.hp{
        color: #FFF;
        font-size: 40px;
        font-style: italic;
        font-weight: 400;
        line-height: normal;
}