@import url(../../../styles/globals.scss);

// Services kampanentni stylelari
.services {
  background-image: url("../../../assets/images/topoboi.png");
  width: auto;
  height: auto;
  background-size: cover;
  .question {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5% 0;
    button {
      padding: 10px 30px;
    }
  }
  .seropacity {
    background-image: url("../../../assets/images/Rectangle33.png");
    .container {
      width: 1200px;
      margin: 0 auto;
      display: flex;
    }
  }
}

.title {
  width: 100%;
  padding: 5%;
  h2 {
    color: #fff;
    text-align: center;
    font-family: "ABeeZee", sans-serif;
    font-size: 36px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
  p {
    max-width: 892px;
    height: 60px;
    flex-shrink: 0;
    color: #fff;
    text-align: center;
    font-family: "Abhaya Libre ExtraBold", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
}

@keyframes mo{
  from{
    margin-left: -1200px;
  }
  to{
    margin-left: 0;
  }
}

.servicesTool {
  width: 40%;
}


.active {
  animation: mo 3s forwards;
  padding: 10px 20px;
  width: 90%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  height: 200px;
  flex-shrink: 0;
  background-repeat: no-repeat;
}
.active:hover {
  background-image: url("../../../assets/images/redcard.png");
}

.active .img {
  padding: 15px;
  font-size: 20px;
  background-image: url("../../../assets/images/backtort.svg");
  background-size: cover;
  background-position: center;
  width: 124px;
  height: 120px;
  flex-shrink: 0;
  text-align: center;
}

.active .img .ico {
  width: 78.5px;
  height: 92px;
  flex-shrink: 0;
}

.active .img .tosvg {
  width: 124px;
  height: 120px;
  margin-left: -15px;
  .kml1 {
    width: 39.999px;
    height: 20px;
    flex-shrink: 0;
    margin-left: 15px;
  }
  .kml2 {
    width: 39.999px;
    height: 20px;
    flex-shrink: 0;
    position: absolute;
    margin-top: 55px;
    margin-left: -50px;
  }
  .akml {
    width: 76px;
    height: 48px;
    flex-shrink: 0;
  }
}

.active .img .inside {
  position: relative;
  width: 72px;
  height: 48px;
  flex-shrink: 0;
  background-image: url("../../../assets/images/Rectangle40.png");
  background-size: cover;
  border-left: 3px solid #fff;
  background-position-x: right;
  margin-top: 15px;
  margin-left: 10px;
  text-align: center;
  img {
    margin: 1.5px 3px;
    margin-top: 8px;
    padding: 0px;
  }
  img:nth-child(1) {
    width: 4px;
    height: 17px;
    flex-shrink: 0;
    opacity: 0.5;
    background: #fff;
  }
  img:nth-child(2) {
    width: 4px;
    height: 27px;
    flex-shrink: 0;
    opacity: 0.5;
    background: #fff;
  }
  img:nth-child(3) {
    width: 4px;
    height: 21px;
    flex-shrink: 0;
    opacity: 0.5;
    background: #fff;
  }
  img:nth-child(4) {
    width: 4px;
    height: 28px;
    flex-shrink: 0;
    opacity: 0.5;
    background: #fff;
  }
  img:nth-child(5) {
    width: 4px;
    height: 32px;
    flex-shrink: 0;
    opacity: 0.5;
    background: #fff;
  }
}

.active .img > img {
  width: 88px;
  height: 4px;
  flex-shrink: 0;
  position: absolute;
  margin-top: 5px;
  margin-left: -45px;
}

.active .titles {
  margin-left: 15px;
  width: 70%;
  margin: 0 20px;
  p {
    font-size: 16px;
    margin: 15px 5px;
    color: #fff;
    font-size: 16px;
    font-style: italic;
    font-family: 'ABeeZee', sans-serif;
    font-weight: 400;
    line-height: normal;
  }
  p:nth-child(1) {
    width: 100%;
  }
  p:nth-child(2) {
    width: 80%;
    font-weight: 700;
  }
}

.crushImg {
  width: 50%;
  height: 100%;
  margin: auto;
  .curt {
    position: relative;
    width: 400px;
    height: auto;
  }
  .hira1 {
    position: absolute;
    width: 140px;
    height: 140px;
    margin-top: 80px;
    margin-left: -340px;
  }
  .subtract {
    position: absolute;
    width: 400px;
    height: auto;
    margin-left: -395px;
    margin-top: -50px;
  }
  .hira2 {
    position: absolute;
    width: 70px;
    height: 70px;
    margin-top: -50px;
    margin-left: -120px;
  }
  .hira3 {
    width: 120px;
    height: 120px;
    position: absolute;
    margin-top: 300px;
    margin-left: -50px;
  }
  .Polygon3 {
    width: 60px;
    height: 60px;
    position: absolute;
    margin-top: 400px;
    margin-left: -180px;
  }
  .Polygon6 {
    width: 135px;
    height: 130px;
    position: absolute;
    margin-top: 300px;
    margin-left: -420px;
  }
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media(min-width:1080px) and (max-width:1350px){
  .services{
    .seropacity{
      .container{
        width: 950px;
      }
    }
  }

  
  .crushImg {
    width: 400px;
    height: auto;
    .curt {
      width: 270px;
      height: auto;
    }
    .hira1 {
      width: 100px;
      height: 100px;
      margin-top: 50px;
      margin-left: -230px;
    }
    .subtract {
      width: 230px;
      height: 270px;
      margin-top: 13px;
      margin-left: -260px;
    }
    .hira2 {
      width: 50px;
      height: 50px;
      margin-top: -20px;
      margin-left: -100px;
    }
    .hira3 {
      width: 80px;
      height: 80px;
      margin-top: 200px;
    }
    .Polygon3 {
      width: 50px;
      height: 50px;
      margin-top: 280px;
      margin-left: -7.8rem;
    }
    .Polygon6 {
      width: 120px;
      height: 120px;
      margin-top: 14rem;
      margin-left: -18.8rem;
    }
  }
}

@media (min-width: 870px) and (max-width: 1080px) {
  .services {
    .seropacity {
      .container {
        width: 800px;
      }
    }
  }

  .crushImg {
    width: 400px;
    height: auto;
    .curt {
      width: 270px;
      height: auto;
    }
    .hira1 {
      width: 100px;
      height: 100px;
      margin-top: 50px;
      margin-left: -230px;
    }
    .subtract {
      width: 230px;
      height: 270px;
      margin-top: 13px;
      margin-left: -260px;
    }
    .hira2 {
      width: 50px;
      height: 50px;
      margin-top: -20px;
      margin-left: -100px;
    }
    .hira3 {
      width: 80px;
      height: 80px;
      margin-top: 200px;
    }
    .Polygon3 {
      width: 50px;
      height: 50px;
      margin-top: 280px;
      margin-left: -7.8rem;
    }
    .Polygon6 {
      width: 120px;
      height: 120px;
      margin-top: 14rem;
      margin-left: -18.8rem;
    }
  }
}

@media (min-width:565px) and (max-width: 870px) {
  .services {
    .seropacity {
      .title {
        p {
          font-weight: 400;
        }
      }
      .container {
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .crushImg {
          display: none;
        }
      }
    }
  }

  .active{
    width: 540px;
    .titles{
      p:nth-child(2){
        width: 100%;
      }
    }
  }
}

@media(min-width:320px) and (max-width:565px){
  .services {
    .seropacity {
      .title {
        margin-bottom: 80px;
        p {
          font-weight: 400;
        }
      }
      .container {
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .crushImg {
          display: none;
        }
      }
    }
  }

  .active{
    width: 310px;
    padding: 10px;
    .titles{
      width: 230px;
      padding: 0;
      margin: 0;
      p{
        padding: 0;
        margin: 0 0 0 10px;
      }
    }
    .img{
      width: 80px;
      height: 80px;
      img{
        width: 50px;
        margin-left: -22px;
      }
      .ico{
        width: 55px;
        height: 55px;
      }
      .tosvg {
        width: 55px;
        height: 55px;
        margin-left: -5px;
        .kml1 {
          width: 25px;
          height: 20px;
          flex-shrink: 0;
          margin-left: 7px;
          margin-top: -10px;
        }
        .kml2 {
          width: 25px;
          height: 20px;
          flex-shrink: 0;
          position: absolute;
          margin-top: 20px;
          margin-left: -30px;
        }
        .akml {
          width: 40px;
          height: 48px;
          flex-shrink: 0;
          margin-top: -18px;
        }
      }
      // inside classga
      .inside {
        position: relative;
        width: 50px;
        height: 40px;
        margin-top: 0;
        margin-left: 3px;
        img {
          margin: 2.2px;
          margin-top: 12px;
          padding: 0px;
        }
        img:nth-child(1) {
          width: 3px;
          height: 12px;
          flex-shrink: 0;
          opacity: 0.5;
          background: #fff;
        }
        img:nth-child(2) {
          width: 3px;
          height: 22px;
          flex-shrink: 0;
          opacity: 0.5;
          background: #fff;
        }
        img:nth-child(3) {
          width: 3px;
          height: 16px;
          flex-shrink: 0;
          opacity: 0.5;
          background: #fff;
        }
        img:nth-child(4) {
          width: 3px;
          height: 23px;
          flex-shrink: 0;
          opacity: 0.5;
          background: #fff;
        }
        img:nth-child(5) {
          width: 3px;
          height: 27px;
          flex-shrink: 0;
          opacity: 0.5;
          background: #fff;
        }
      }
    }
  }
}
// Services kampanentni stylelari tugashi

// Kampaniya kampanentni stylelari
.kampaniya {
  background-image: url("../../../assets/images/porsche-normal.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  overflow-x: scroll;
  .opacity {
    padding: 20px 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    .info {
      display: flex;
      align-items: start;
      justify-content: center;
      width: 80%;
      margin: auto;
      padding: 2%;
      .smile {
        width: 270px;
        height: auto;
        display: inline-block;
      }
      .parag {
        width: 650px;
        height: auto;
        padding: 30px;
        margin: 0 20px;
        margin-top: 10px;
        border: 3px solid rgba(255, 0, 0, 0.6);
        background: rgba(0, 0, 0, 0.4);
        animation: prg 3s forwards;
        @keyframes prg {
          from{
            margin-right: -1000px;
          }to{
            margin-right: 0px;
          }
        }
        p {
          font-size: 16px;
          line-height: 17px;
          letter-spacing: 1.5px;
        }
        button {
          margin-top: 15px;
          padding: 10px 18px;
          background: inherit;
          border: 2px solid #fe0202d7;
          color: #fff;
          font-size: 13px;
        }
      }
    }
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .kampaniya {
    .opacity {
      .info {
        .smile {
          display: none;
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .kampaniya {
    .opacity {
      .info {
        .smile {
          display: none;
        }
        .parag {
          width: 300px;
          padding: 10px;
          p {
            font-size: 14px;
          }
          button {
            width: 100%;
          }
        }
      }
    }
  }
}
// Kampaniya kamponentni tugashi

// Showbottom komponentni stylelari
.headbottom {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 140px;
  background: rgb(33, 32, 32);
  position: relative;
  margin-top: 250px;
  .container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    div {
      width: 150px;
      text-align: center;
      padding-top: 15px;
      .showsvg {
        font-size: 20px;
        color: white;
        width: 48px;
        height: 48px;
      }
      .showp {
        color: #fff;
        font-size: 15px;
      }
    }
    div:hover{
      background-image: url('../../../assets/images/redback.png');
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

@media(max-width:1200px){
  .headbottom{
    height: auto;
    .container{
      width: auto;
      padding: 20px 0;
      justify-content: center;
      div{
        margin: 1.8vw 2.8vw;
      }
    }
  }
}
// Showbottom kampanentni tugashi
p {
  color: #fff;
}