li {
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  background: rgba(205, 16, 16, 0.6);
  list-style-type: none;
  position: relative;
  padding: 8px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.534);
  transition: background-color 0.3s;
  ul {
    display: none;
    position: absolute;
    left: 160px;
    li {
      backdrop-filter: blur(5.5px);
      -webkit-backdrop-filter: blur(5.5px);
      background: rgba(0, 0, 0, 0.3);
      transition: background-color 0.3s;
    }
  }
}

li:hover {
  background-color: 2px solid rgba(255, 15, 15, 0.85);
  ul {
    display: inline-block;
    li:hover {
      background-color: 2px solid rgba(255, 15, 15, 0.85);
    }
  }
}

nav {
  div {
    display: flex;
    svg {
      padding-top: 5px;
    }
  }
}

div {
  a {
    transition: all 0.3s ease;
    font-size: 14px;
  }
  a:hover {
    border-bottom: 2px solid rgb(190, 8, 8);
    padding-right: 15px;
  }
}

/* index.css or App.css */
@import "~font-awesome/css/font-awesome.min.css";

body {
  background: grey;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 400;
}

nav {
  display: flex;
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  position: fixed;
  top: 0;
  font-size: 15px;
  font-weight: 400;
  height: 100px;
  color: white;
  justify-content: space-around;
  align-items: center;
  z-index: 3;
}

nav > .container {
  align-items: center;
  justify-content: space-around;
  width: 90%;
  margin: auto;
}

/* Dropdown button container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Button styling */
.dropdownbutton {
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 650;
  outline: none; /* Remove outline on click */
  transition: all 0.3s ease;
}

/* Dropdown content container */
.dropdowncontent {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 20px;
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  background: rgba(0, 0, 0, 0.6);
  min-width: 160px;
  z-index: 1;
}

.kontakt {
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  outline: none; /* Remove outline on click */
  transition: all 0.3s ease;
}

/* Dropdown content items */
.dropdowncontent p {
  padding: 10px;
  margin: 0;
  color: #fff;
  text-decoration: none;
  display: block;
  border-bottom: 2px solid rgba(128, 128, 128, 0.547);
  transition: background-color 0.3s;
}

/* Dropdown content item hover effect */
.dropdowncontent p:hover {
  background-color: 2px solid rgba(255, 15, 15, 0.85);
}

.buttonsgroup {
  margin: 8px;
  gap: 8px;
  align-items: center;
}

.icons {
  border: none;
  background: inherit;
}

.logo {
  object-fit: cover;
}

.countItems {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 50px;
  background-color: rgb(183, 8, 8);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 19px;
}

.forsearchhide {
  width: 100%;
  margin: auto;
  top: 100%;
  height: auto;
  position: absolute;
  background: inherit;
}

.forsearchhide > div {
  width: 60%;
  margin: 8px auto;
  align-items: center;
  gap: 10px;
}

.forsearchhide > div > input {
  width: 85%;
  padding: 5px 15px;
  height: 17px;
}

.forsearchhide > div .search {
  background: inherit;
  border: 2px solid rgba(255, 15, 15, 0.85);
  color: #fff;
  padding: 5px 10px;
}

.forsearchhide > div .closeIcon {
  background-color: inherit;
  border: none;
  color: rgba(153, 152, 152, 0.858);
}

.forsearchhide > div .closeIcon > svg {
  font-size: 15px;
  font-weight: 1000;
}

.navbarOverlay {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.open {
  display: flex;
  justify-content: center;
}

.open .navbarOverlay {
  visibility: visible;
  opacity: 1;
  top: 0;
  width: 100%;
  height: 800px;
  right: 0;
  align-items: flex-start;
}

.navbarBurger {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: 64px;
  height: 64px;
  padding: 0;
  border: 0;
  font-family: inherit;
  background: transparent;
  color: inherit;
  cursor: pointer;
}

.navbarMenu {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  translate: -100% 0;
  width: 80%;
  height: 100%;
  padding: 10px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: flex-start;
  transition: all 0.3s;
  align-items: center;
}

.open .navbarMenu {
  translate: 0 0;
  visibility: visible;
  align-items: center;
  width: 200px;
  height: 800px;
  top: 0px;
  left: -10px;
  align-items: flex-start;
  background: #000;
}

@media only screen and (min-width: 770px) {
  nav {
    justify-content: space-between;
    padding: 0 0 0 16px;
  }
  .navbarOverlay {
    display: none;
  }
  .navbarBurger {
    display: none;
  }
  .navbarMenu {
    position: static;
    translate: 0 0;
    width: auto;
    background: transparent;
    flex-direction: row;
    visibility: visible;
  }
}
