

li{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(0, 0, 0, 0.6);
    list-style-type: none;
    position: relative;
    padding: 8px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.534);
    transition: background-color 0.3s;
    ul{
        display: none;
        position: absolute;
        top: -15px;
        left: 120px;
        li{
            backdrop-filter: blur(5.5px);
            -webkit-backdrop-filter: blur(5.5px);
            background: rgba(0, 0, 0, 0.3);
            transition: background-color 0.3s;
        }
    }
}

li:hover{
    background-color: 2px solid rgba(255, 15, 15, 0.85);
    ul{
        display: inline-block;
        li:hover{
            background-color: 2px solid rgba(255, 15, 15, 0.85);
        }
    }
}

nav{
    div{
        display: flex;
        svg{
            padding-top: 5px;
        }
    }
}

div{
    a{
        transition: all 0.3s ease;
    }
    a:hover{
        border-bottom: 2px solid rgb(190, 8, 8);
        padding-right: 15px;
    }
}