.title_h1 {
  font-family: sans-serif;
  text-align: center;
  font-style: italic;
  font-size: 35px;
  padding-bottom: 20px;
  padding-top: 90px;
  font-weight: 100;
}
.title_pp {
  font-family: sans-serif;
  text-align: center;
  color: black;
  font-weight: 800;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 50px;
}
.linya {
  width: 856px;
  height: 4px;
  flex-shrink: 0;
  background: #c53720;
  margin: 0 auto;
}

.catalogtitle_wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  margin-bottom: -200px !important;

  .linya {
    width: 260px;
  }
  .title_pp {
    padding-bottom: 0px;
    margin-bottom: -200px;
  }
}

.title_wrapper {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.cards {
  margin-top: -17rem;
  position: relative;
  width: 100%;
}

@media screen and (max-width: 990px) {
  .linya {
    width: 80%;
  }
}
@media screen and (max-width: 500px) {
  .title_h1 {
    font-size: 25px;
  }
  .title_pp {
    font-size: 17px;
  }
  .linya {
    width: 95%;
  }
}
