.title_h1 {
  font-family: sans-serif;
  text-align: center;
  font-style: italic;
  font-size: 35px;
  padding-bottom: 20px;
  padding-top: 90px;
  font-weight: 100;
 
}
.title_pp {
  font-family: sans-serif;
  text-align: center;
  color: black;
  font-weight: 800;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 50px;
}
.linya {
  width: 856px;
  height: 4px;
  flex-shrink: 0;
  background: #c53720;
  margin: 0 auto;
}




