.product {
  width: 100%;
  height: auto;
  background: #ededed;
}
.product_wrapper {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
}

.product_left {
  width: 264px;
  height: 100%;
  flex-shrink: 0;
  background: #000;
  background: #2d2d2d;
}

.product_right {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product_card {
  width: 270px;
  height: 360px;
  flex-shrink: 0;
  background-color: aliceblue;
  margin-bottom: 30px;
  cursor: pointer;
}

.product_card_img {
  width: 100%;
  height: 50%;
  object-fit: contain;
  background-color: white;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.product_wrapper_bottom {
  width: 100%;
  height: 50px;
}
.product_card_name {
  width: 100%;
  height: 50%;
  background-color: #1d1d1d;
}
.product_card_name_card {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  h2 {
    color: #fff;
    font-family: sans-serif;
    font-size: 17px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    padding-top: 15px;
  }
  h3 {
    color: #fff;
    font-family: sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 15px;
  }
}

.product_left_button {
  width: 100%;
  height: 40px;
  background-color: #c53720;
  cursor: pointer;
  border: none;
  border-bottom: 2px solid black;

  div {
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    font-style: italic;
    width: 85%;
    margin: 0 auto;
    align-items: center;
  }
}

.product_left_wrapper {
  width: 100%;
  height: 40px;
  overflow: hidden;
}

.product_left_button:active {
  background-color: #ec4329;
}

.product_left_wrapper_active {
  height: auto;
}

.product_left_wrapper_active1 {
  height: auto;
}

.product_left_wrapper_active2,
#product_left_wrapperr_active2 {
  height: 150px;
}

.svg {
  transition: 0.1s;
}
.svg_active {
  transform: rotate(90deg);
}
#product_left_wrapperr_active2 {
  height: 0;
}

#minPrice,
#maxPrice {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background-color: #c53720;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  margin-top: 40px;
}

#minPrice::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 26px;
  background-image: url(../../../../assets/imgs/input.png);
  background-repeat: no-repeat;
  background-size: contain;
}
#maxPrice::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 26px;
  background-image: url(../../../../assets/imgs/input.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.product_left_wrapper_input {
  width: 90%;
  margin: 0 auto;
  display: flex;
  position: relative;
  margin-top: 110px;
  margin-bottom: 30px;
}

.product_left_wrapper_filter_container_label {
  display: flex;
  display: block;
  width: 100%;
  margin-right: 0;
  position: absolute;
  z-index: 0;
  left: 0;
  width: auto;
  color: #fff;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.product_left_wrapper_filter_container_label1 {
  display: flex;
  display: block;
  width: 100%;
  margin-right: 0;
  position: absolute;
  z-index: 0;
  right: 0;
  width: auto;
  color: #fff;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
