* {
  box-sizing: border-box;
}

.button_one {
  width: 100%;
  height: 40px;
  transition: 0.4s;
  overflow: hidden;
}
.button_one_btn {
  width: 100%;
  height: 40px;
  background: #1d1d1d;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid rgba(255, 249, 249, 0.582);
  border-top: 1px solid rgba(255, 249, 249, 0.582);
  box-sizing: border-box;

  div {
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }
}

.button_one_btn:active {
  background: #2c2a2a;
}

.button_one_active {
  height: 210px;
}
.button_one_active1 {
  height: 100px;
}
.button_one_active2 {
  height: 100px;
}
.btn {
  padding: 7px 0 7px 0;
  opacity: 0.5;
  margin-top: 2px;
  width: 100%;
  padding-left: 20px;
  color: white;
  transition: 0.15s;
  box-sizing: border-box;
}
.btn.active {
  background-color: #c53720;
  opacity: 1;
  border-left: 8px solid white;
}

.button_one_active_link {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.a {
  font-family: sans-serif;
}
.a:hover {
  background-color: inherit;
  border: 0;
  text-decoration: none;
  outline: 0;
}

.svg_active {
  transform: rotate(90deg);
}
.svg {
  transition: 0.1s;
  svg {
    width: 25px;
    height: 25px;
  }
}
