.head {
  top: 0;
  background-image: url("../../../../assets/images/banner1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 180px 0;
  .container {
    width: 1200px;
    margin: auto;
    div {
      max-width: 400px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      animation: hov 1.5s forwards;
     div{
      p{
        font-family: sans-serif;
        transition: all 0.5s ease;
      }
      p:hover{
        padding-left: 10px;
      }
     } 
     button{
      width: 180px;
      padding: 7px 14px;
     }
    }
  }
}

@keyframes hov {
  from{
    scale: 50%;
  }
  to{
    scale: 100%;
  }
}

.whiteline {
  width: 100%;
  padding: 10px 0;
  animation: an 1.5s forwards;
  .container {
    width: 1200px;
    margin: auto;
    div {
      display: flex;
      align-items: center;
      width: auto;
      p {
        font-family: sans-serif;
        color: black;
        width: auto;
        cursor: pointer;
      }
      .firewal {
        display: inline-block;
        width: 20px;
        height: 20px;
      }
    }
  }
}

@keyframes an{
  from{
    margin-left: -500px;
  }
  to{
    margin-left: 0;
  }
}

@media(min-width:800px) and (max-width:1200px){
  .head{
    .container{
      width: 800px;
      padding-left: 110px;
    }
  }

  .whiteline{
    .container{
      width: 800px;
      padding-left: 110px;
    }
  }
}

@media (max-width: 800px) {
  .head {
    padding: 150px 0;
    background-position: center;
    .container {
      width: 100%;
      padding-left: 50px;
      div {
        div {
          p {
            font-size: 30px;
          }
        }
      }
    }
  }

  .whiteline{
    .container{
      width: 100%;
      padding: 0 0 0 50px;
    }
  }
}

@media (max-width: 400px) {
  .head {
    padding: 100px 0px;
    background-position: center;
    .container{
      padding-left: 10px;
      width: 100%;
    }
  }
  .whiteline{
    .container{
      width: 100%;
      padding-left: 10px;
    }
  }
}

@media(max-width:320px){
  .head{
    .container{
      div{
        div{
          p{
            font-size: 15px;
          }
        }
      }
    }
  }
}