.sliderStyle {
  height: 100%;
  position: relative;
}

.dotsContainerStyles {
  display: flex;
  margin-top: -40px;
  justify-content: center;
}

.dotStyle {
  margin: 0 3px;
  cursor: pointer;
  font-size: 20px;
  color: white;
}

.containerStyle {
  width: 100%;
  height: 458px;
}

.draft {
  position: absolute;
  top: 35%;
  left: 180px;
  width: 180px;
  animation: anime 1.5s forwards;
  z-index: 2;
}

@keyframes anime {
  from {
    opacity: 0;
    left: 0;
  }
  to {
    opacity: 1;
    left: 180px;
  }
}

.draft p {
  font-size: 40px;
  font-weight: 600;
}
.sliderStyle {
  width: 100%;
  cursor: pointer;
  height: 710px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}


@media screen and (max-width: 675px) {
  .draft {
    position: absolute;
    top: 35%;
    left: -100px;
    z-index: 2;
    margin-left: -150px;
  }
}

@media screen and (max-width: 420px) {
  .draft {
    p {
      font-size: 35px;
    }
  }
}
